.background {
    background: url(../images/HPbackground.jpg);
}
.header{
    width: 100%;
    float: center;
    text-align: center;
    font-size: 3rem;
    font-family: 'Kaushan Script', cursive;
}
.content {
    border-top: 30%;
    border-left: 50%;
    border-right: 30%;
}
.startQuiz {
    
    background: url(../images/buttonbkground.jpg);
    font-family: 'Bahianita', cursive;
    font-size: 3rem;
    border-top: 50rem;
}
.content {
    font-size: 2rem; 
    font-family: 'Satisfy', cursive;

}
.content2 {
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.correct {
    mask-image: url(../images/happyDumbledore.jpg);
}
.incorrect {
    background: url(../images/madSnape.jpg);
}